* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main {
  height: 100vh;
  width: 100vw;
  background: rgb(225, 255, 143);
  background-image: url(./images/star1.svg), url(./images/line1.svg), url(./images/line2.svg), url(./images/line3.svg), url(./images/line4.svg), url(./images/triangle.svg), url(./images/star2.svg), url(./images/star3.svg), url(./images/star4.svg), url(./images/star5.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 355px) -260px, calc(100% - 302px) -10px, calc(100% - 270px) 252px, calc(100% - 30px) 380px, calc(100% - 98px) 664px, calc(100% - 149px) 470px, calc(100% - 380px) 566px, calc(100% - 491px) 539px, 190px 70px, 100px 93px;
}
.main__title {
  padding-top: 196px;
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 122%;
  max-width: 769px;
}
.main__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 133%;
  margin-top: 24px;
  max-width: 720px;
}
.main__text-bold {
  font-weight: 600;
}
.main__btn {
  display: block;
  margin-top: 48px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 16px 28px 16px 28px;
  transition: all 0.7s;
  cursor: url(./images/cursor.svg), pointer;
}
.main__btn:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.games {
  min-height: 1470px;
  background: rgb(32, 32, 39);
  background-image: url(./images/games_star1.svg), url(./images/games_star2.svg), url(./images/games__star3.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 40px) 140px, 90px 900px, 30px 870px;
  padding-top: 94px;
  padding-bottom: 50px;
}
.games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 122px;
  margin-bottom: 24px;
}
.games__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 133%;
  max-width: 788px;
}
.games__card-block {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 72px;
}
.games__link {
  align-content: flex-start;
}
.games__link-low {
  align-content: flex-end;
}
.games__link:hover {
  cursor: url(./images/cursor.svg), pointer;
}

.game-card {
  width: 378px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  transition: all 0.5s;
}
.game-card-small {
  height: 473px;
}
.game-card-med {
  height: 512px;
}
.game-card-big {
  height: 551px;
}
.game-card__img {
  border-radius: 30px;
  height: 314px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.game-card__image {
  width: 170%;
  height: auto;
  position: absolute;
  top: -150px;
  left: -135px;
}
.game-card .image3 {
  width: 200%;
  top: -80px;
  left: -200px;
}
.game-card .image4,
.game-card .image5 {
  top: -110px;
}
.game-card__info {
  padding: 32px;
  height: 159px;
}
.game-card__number {
  display: block;
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  padding: 8px 16px 10px 16px;
}
.game-card__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 122%;
  margin-top: 16px;
  width: 300px;
}

.img1 {
  background: rgb(173, 97, 255);
}

.img2 {
  background: rgb(253, 173, 0);
}

.img3 {
  background: rgb(86, 94, 239);
}

.img4 {
  background: rgb(39, 26, 88);
}

.img5 {
  background: rgb(153, 209, 0);
}

.img6 {
  background: rgb(39, 26, 88);
}

.games__link:hover .game-card {
  transform: scale(1.05);
  transform-origin: top;
}

.mini-games {
  background: rgb(32, 32, 39);
  padding-bottom: 144px;
  padding-top: 46px;
  background-image: url(./images/ministar1.svg), url(./images/ministar2.svg), url(./images/ministar3.svg), url(./images/ministar4.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 80px) 120px, calc(100% - 160px) 80px, calc(100% - 80px) calc(100% - 80px), calc(100% - 160px) calc(100% - 60px);
}
.mini-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 122%;
}
.mini-games__card-block {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.minigame-card {
  width: 100%;
  height: 500px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  display: flex;
}
.minigame-card__img {
  width: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
.minigame-card__image {
  width: 140%;
  height: auto;
  position: absolute;
  top: -160px;
  left: -95px;
}
.minigame-card .image-for-mini-3 {
  width: 200%;
  top: -120px;
  left: -300px;
}
.minigame-card .image-for-mini-4,
.minigame-card .image-for-mini-5 {
  top: -100px;
  left: -120px;
}
.minigame-card__info {
  width: 50%;
  padding: 48px;
}
.minigame-card__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 123%;
  margin-bottom: 24px;
  max-width: 400px;
}
.minigame-card__desc {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 133%;
  margin-bottom: 36px;
  max-width: 420px;
}
.minigame-card__desc-wide {
  max-width: 100%;
}
.minigame-card__btn {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  font: inherit;
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  padding: 16px 28px 16px 28px;
  cursor: url(./images/cursor.svg), pointer;
}
.minigame-card__btn:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.minigame-card:nth-child(2n-1) {
  flex-direction: row-reverse;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  padding-top: 61px;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 121%;
  text-align: center;
}/*# sourceMappingURL=style.css.map */